@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-slow-rotation {
  animation: rotation 10s infinite linear;
}

.animate-slower-rotation {
  animation: rotation 15s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
