@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-slow-rotation {
  animation: rotation 10s infinite linear;
}

.animate-slower-rotation {
  animation: rotation 15s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-inline: 1rem;
}
.embla__button {
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
}
.embla__button:disabled {
  opacity: 0.3;
}

@media (max-width: 550px) {
  .embla__buttons {
    display: none;
  }
}
