<div class="fixed left-0 right-0 top-0 z-50 bg-slate-950/80 backdrop-blur-md">
  <div class="flex items-center justify-center gap-4 px-4 py-2">
    <p class="text-md py-1.5 font-medium">
      <span aria-label="Rocket" role="img">🚀</span>
      <span class="text-white">
        A new version of Start UI is now available for <a
          href="http://web.start-ui.com/"
          target="_blank"
          rel="noreferrer"
          class="underline hover:no-underline">[web]</a
        >,
        <a
          href="http://native.start-ui.com/"
          target="_blank"
          rel="noreferrer"
          class="underline hover:no-underline"
        >
          [native]</a
        > and
        <a
          href="http://figma.start-ui.com/"
          target="_blank"
          rel="noreferrer"
          class="underline hover:no-underline"
        >
          [figma]
        </a>
      </span>
    </p>
  </div>
</div>
