---
import { cn } from "@/lib/utils";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class={cn(
    "prose prose-invert relative z-20 prose-p:my-3 font-rubrik",
    className,
  )}
>
  <slot />
</div>
