---
import Logo from "@/components/logo.astro";
import LogoFigma from "@/components/logoFigma.astro";
import LogoNative from "@/components/logoNative.astro";
import LogoWeb from "@/components/logoWeb.astro";
import { Image } from "astro:assets";
import spaceBg from "@/assets/space-bg.jpg";
---

<div
  class="relative z-20 flex min-h-[90vh] flex-1 flex-col overflow-hidden bg-black lg:fixed lg:bottom-0 lg:left-0 lg:top-0 lg:w-[36rem]"
>
  <div class="pointer-events-none absolute inset-0">
    <Image
      class="h-full w-full max-w-none object-cover"
      src={spaceBg}
      alt=""
      width={1536}
      height={1024}
    />
  </div>
  <div class="flex flex-1 flex-col overflow-y-auto overflow-x-hidden">
    <div class="relative mx-auto flex max-w-md flex-1 flex-col px-8">
      <div
        class="relative flex flex-1 flex-col items-center justify-center gap-8 py-16 text-center [text-wrap:balance]"
      >
        <a href="/" aria-label="Go to the website root">
          <Logo class="h-12" />
        </a>
        <div class="flex flex-col gap-2">
          <h1
            class="gradient-text-rgb bg-clip-text text-3xl font-bold leading-tight text-transparent"
          >
            Opinionated UI starters
          </h1>
          <p class="text-lg text-white/80">
            For web, mobile and design, which lets you easily bootstrap new app
            UI projects
          </p>
        </div>
        <div class="flex items-center justify-center gap-4">
          <a href="#web" aria-label="Go to the Start UI [web] section">
            <LogoWeb class="w-52" />
          </a>
          <a href="#native" aria-label="Go to the Start UI [native] section">
            <LogoNative class="w-52" />
          </a>
          <a href="#figma" aria-label="Go to the Start UI [figma] section">
            <LogoFigma class="w-52" />
          </a>
        </div>
      </div>

      <div class="flex items-center justify-center pb-4 lg:pb-6">
        <p class="flex items-baseline gap-x-1 text-white/50">
          From the{" "}
          <a
            href="https://bearstudio.fr"
            class="text-white/80"
            target="_blank"
            rel="noreferrer"
          >
            BearStudio Team
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
