---
import { Image } from "astro:assets";
import { LuExternalLink } from "react-icons/lu";
---

<div class="group relative space-y-6">
  <h2 class="text-lg md:text-2xl">
    Improving developers and designers experiences worldwide:
  </h2>
  <div
    class="relative z-10 overflow-hidden rounded-xl border border-gray-800 bg-gray-700 px-8 py-8 shadow-2xl sm:px-20 sm:py-16 lg:px-12 xl:px-20"
  >
    <div class="absolute -inset-1 bg-gray-700/90 mix-blend-multiply"></div>
    <div
      class="absolute -left-80 -top-56 transform-gpu blur-3xl"
      aria-hidden="true"
    >
      <div
        class="relative aspect-[1097/845] w-[68.5625rem] opacity-30"
        style={{
          clipPath:
            "polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)",
        }}
      >
        <div
          class="animate-slow-rotation gradient-text-rgb absolute inset-0 aspect-[1097/845] w-[68.5625rem] transition motion-reduce:animate-none"
          style={{ transitionTimingFunction: "ease-in-out" }}
        >
        </div>
      </div>
    </div>
    <div class="relative">
      <figure class="flex flex-col space-y-4">
        <blockquote class="text-base italic text-white">
          <p>
            When we started{" "}
            <a
              href="https://openares.net/"
              target="_blank"
              rel="noreferrer noopener"
              class="font-bold hover:underline"
            >
              Ares project
            </a>{" "}
            one of our main issue was to build appealing UI for our end users on
            web and Android Platforms. With Start UI figma file we have been able
            to quickly prototype our Idea, get beta testers feedbacks and even deploy
            a live version within days instead of weeks. I definetely believe Start
            UI is a game changer if you want to ship your software quickly with a
            modern UI from one of the best designers teams in the World.
          </p>
        </blockquote>
        <figcaption class="flex items-center space-x-3 text-white">
          <a
            href="https://github.com/Billyroot"
            target="_blank"
            rel="noreferrer noopener"
          >
            <Image
              class="inline-block h-12 w-12 rounded-full border border-gray-900"
              width={200}
              height={200}
              src="https://avatars.githubusercontent.com/u/11244750?v=4"
              alt=""
            />
          </a>
          <div class="flex flex-col space-y-1">
            <a
              href="https://github.com/Billyroot"
              target="_blank"
              rel="noreferrer noopener"
              class="text-base font-semibold"
            >
              William Elong
            </a>
            <a
              href="https://faradaylab.fr/"
              target="_blank"
              rel="noreferrer noopener"
              class="text-xs"
            >
              Faraday
            </a>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
  <div
    class="relative z-10 overflow-hidden rounded-xl border border-gray-800 bg-gray-700 px-8 py-8 shadow-2xl sm:px-20 sm:py-16 lg:px-12 xl:px-20"
  >
    <div class="absolute -inset-1 bg-gray-700/90 mix-blend-multiply"></div>
    <div
      class="absolute -left-10 -top-56 rotate-180 transform-gpu blur-3xl"
      aria-hidden="true"
    >
      <div
        class="relative aspect-[1097/845] w-[68.5625rem] opacity-30"
        style={{
          clipPath:
            "polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)",
        }}
      >
        <div
          class="animate-slower-rotation gradient-text-rgb absolute inset-0 aspect-[1097/845] w-[68.5625rem] transition motion-reduce:animate-none"
          style={{ transitionTimingFunction: "ease-in-out" }}
        >
        </div>
      </div>
    </div>
    <div class="relative">
      <figure class="flex flex-col space-y-4">
        <blockquote class="text-base italic text-white">
          <p>
            We used &quot;Start UI&quot; to bootstrap a React project quickly
            rather than going through the process of setting up the frontend
            stack (UI, API client, Tests, Design system, and so on). It is a
            good boilerplate for fast setup. It is opinionated but knowing that
            the people in charge of this project do a great job at
            testing/validating libraries, we were really confident. Another
            important thing about &quot;Start UI&quot; is that it doesn&apos;t
            lock you up as you can remove everything you don&apos;t need and
            change which library you want for another. I will use it again for
            future projects for sure.
          </p>
        </blockquote>
        <figcaption class="flex items-center space-x-3 text-white">
          <a
            href="https://github.com/cdue"
            target="_blank"
            rel="noreferrer noopener"
          >
            <Image
              class="inline-block h-12 w-12 rounded-full border border-gray-900"
              width={200}
              height={200}
              src="https://avatars.githubusercontent.com/u/7940852?s=64&v=4"
              alt=""
            />
          </a>
          <div class="flex flex-col space-y-1">
            <a
              href="https://github.com/cdue"
              target="_blank"
              rel="noreferrer noopener"
              class="text-base font-semibold"
            >
              Cédric Dué
            </a>
            <a
              class="text-xs"
              href="https://www.ysely.io/"
              target="_blank"
              rel="noreferrer noopener"
            >
              Ysely
            </a>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="flex justify-center p-2">
    <a
      href="https://github.com/BearStudio/start-ui-web/discussions/399"
      target="_blank"
      rel="noreferrer noopener"
      class="inline-flex items-center p-2 text-sm opacity-60 transition hover:opacity-100"
    >
      <span>Share your testimonial on GitHub</span>
      <LuExternalLink className="ml-1" />
    </a>
  </div>
  <div
    class="pointer-events-none absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 rotate-45 scale-50"
  >
    <div
      class="animate-slow-rotation gradient-text-rgb aspect-[1097/845] w-[68.5625rem] origin-center rounded-full opacity-30 blur-[200px] transition group-hover:opacity-50 lg:scale-[0.5]"
      style={{
        transitionTimingFunction: "ease-in-out",
      }}
    >
    </div>
  </div>
</div>
